.navbar-brand{
    font-size: 30px;
    font-weight: 500;
}
.nav-link{
    font-weight: 700;
    font-size: 20px;
}
.main-div h1{
    font-size: 27px;
    font-weight: bold;
}
.main-div div h2{
    font-size: 20px;
    font-weight: bold;
}
.main-div div p{
    font-size: 16px;
    font-weight: 500;
}